In [1]:
import pandas as pd
%matplotlib inline

In [2]:
startyear = 1981
endyear = 2015

## Load the data

In [3]:
#Citizenships
df_einb = pd.read_csv('CleanerData/Gem-Einb-Wide-1981-2015.csv')
df_einb.head(2)

,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,...,2013,2014,2015,Gemeinde_ID,Gemeinde_Name,Kanton_ABK,Bezirk_ID,Bezirk_Name,Kanton_ID,Kanton_Name
0,1,0,1,3,0,6,2,2,1,0,...,11,8,10,1,Aeugst am Albis,ZH,101,Affoltern,1,Zürich
1,13,37,14,33,15,18,16,14,15,12,...,83,49,55,2,Affoltern am Albis,ZH,101,Affoltern,1,Zürich

In [4]:
#Population Levels
df_bev = pd.read_csv('CleanerData/Gem-Bev-Wide-1981-2015.csv')
df_bev.head(2)

,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,...,2013,2014,2015,Gemeinde_ID,Gemeinde_Name,Kanton_ABK,Bezirk_ID,Bezirk_Name,Kanton_ID,Kanton_Name
0,867.0,905.0,945.0,958.0,969.0,1008.0,1000.0,1043.0,1104.0,1144.0,...,1955.0,1972.0,1959.0,1,Aeugst am Albis,ZH,101,Affoltern,1,Zürich
1,8041.0,8223.0,8281.0,8422.0,8629.0,8699.0,8827.0,8958.0,9101.0,9314.0,...,11276.0,11363.0,11552.0,2,Affoltern am Albis,ZH,101,Affoltern,1,Zürich

## Get per capita levels

In [5]:
#First, create a copy of the citizenship dataframe
df_einb_capita = df_einb.copy()

In [6]:
df_einb_capita.head(2)

,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,...,2013,2014,2015,Gemeinde_ID,Gemeinde_Name,Kanton_ABK,Bezirk_ID,Bezirk_Name,Kanton_ID,Kanton_Name
0,1,0,1,3,0,6,2,2,1,0,...,11,8,10,1,Aeugst am Albis,ZH,101,Affoltern,1,Zürich
1,13,37,14,33,15,18,16,14,15,12,...,83,49,55,2,Affoltern am Albis,ZH,101,Affoltern,1,Zürich

In [7]:
#We are doing this by Gemeinde_ID, to make sure nothing is wrong
for ID in df_einb_capita.Gemeinde_ID:
    for year in range(startyear, endyear + 1):
        einb = df_einb[df_einb['Gemeinde_ID'] == ID][str(year)]
        bev = df_bev[df_bev['Gemeinde_ID'] == ID][str(year)]
        einb_capita = einb / bev
        indexnr = df_einb_capita[df_einb_capita['Gemeinde_ID'] == ID].index
        df_einb_capita.loc[indexnr, str(year)] = einb_capita

In [8]:
df_einb_capita.head(5)

,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,...,2013,2014,2015,Gemeinde_ID,Gemeinde_Name,Kanton_ABK,Bezirk_ID,Bezirk_Name,Kanton_ID,Kanton_Name
0,0.001153,0.000000,0.001058,0.003132,0.000000,0.005952,0.002000,0.001918,0.000906,0.000000,...,0.005627,0.004057,0.005105,1,Aeugst am Albis,ZH,101,Affoltern,1,Zürich
1,0.001617,0.004500,0.001691,0.003918,0.001738,0.002069,0.001813,0.001563,0.001648,0.001288,...,0.007361,0.004312,0.004761,2,Affoltern am Albis,ZH,101,Affoltern,1,Zürich
2,0.003758,0.001283,0.000815,0.002728,0.003115,0.002760,0.000000,0.003903,0.001567,0.001549,...,0.003266,0.004943,0.003405,3,Bonstetten,ZH,101,Affoltern,1,Zürich
3,0.003610,0.000439,0.001288,0.001672,0.003654,0.000402,0.000803,0.002379,0.001141,0.000747,...,0.001777,0.000874,0.006057,4,Hausen am Albis,ZH,101,Affoltern,1,Zürich
4,0.000521,0.003009,0.001497,0.002038,0.003058,0.001011,0.000000,0.000973,0.000482,0.000473,...,0.003987,0.002503,0.009313,5,Hedingen,ZH,101,Affoltern,1,Zürich

In [13]:
df_einb_capita.to_csv('CleanerData/Gem-EinbCap-Wide-1981-2015.csv')