In [2]:
import pandas as pd

## 10Y-Yield

In [20]:
df = pd.read_excel('data/10y.xlsx', sheet='data')

In [21]:
# Make date column the index
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df = df.set_index('date')

In [22]:
#Take weekly mean value
df = df.resample('MS').mean()

In [23]:
#cut off at 2013
df = df['2013':].reset_index()

In [24]:
#filter Nans
df = df[df.value.notnull()]

In [25]:
# Convert back to text
df['date'] = df['date'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [33]:
df['date'] = df['date'].str[0:-2] + "15"

In [34]:
# Export to csv
df.to_csv('web/10y.csv', index=False)

In [35]:
df.value.describe()

count    55.000000
mean      0.239373
std       0.523795
min      -0.562762
25%      -0.147599
50%       0.031250
75%       0.731975
max       1.141857
Name: value, dtype: float64

In [36]:
df

          date     value
0   2013-01-15  0.671714
1   2013-02-15  0.758650
2   2013-03-15  0.739150
3   2013-04-15  0.630476
4   2013-05-15  0.635700
5   2013-06-15  0.871700
6   2013-07-15  1.022652
7   2013-08-15  1.051619
8   2013-09-15  1.115476
9   2013-10-15  1.020826
10  2013-11-15  0.945905
11  2013-12-15  1.011000
12  2014-01-15  1.141857
13  2014-02-15  1.015950
14  2014-03-15  0.975619
15  2014-04-15  0.883450
16  2014-05-15  0.786400
17  2014-06-15  0.724800
18  2014-07-15  0.587435
19  2014-08-15  0.473250
20  2014-09-15  0.498636
21  2014-10-15  0.461739
22  2014-11-15  0.403500
23  2014-12-15  0.287762
24  2015-01-15  0.031250
25  2015-02-15  0.008200
26  2015-03-15 -0.046727
27  2015-04-15 -0.092550
28  2015-05-15  0.065000
29  2015-06-15  0.137818
30  2015-07-15  0.050652
31  2015-08-15 -0.136429
32  2015-09-15 -0.077591
33  2015-10-15 -0.227455
34  2015-11-15 -0.304381
35  2015-12-15 -0.171682
36  2016-01-15 -0.139050
37  2016-02-15 -0.310429
38  2016-03-15 -0.330429
39  2016-04-15 -0.310619
40  2016-05-15 -0.289200
41  2016-06-15 -0.455818
42  2016-07-15 -0.562762
43  2016-08-15 -0.515136
44  2016-09-15 -0.450955
45  2016-10-15 -0.471857
46  2016-11-15 -0.207682
47  2016-12-15 -0.104095
48  2017-01-15 -0.101667
49  2017-02-15 -0.114850
50  2017-03-15 -0.050609
51  2017-04-15 -0.148722
52  2017-05-15 -0.090000
53  2017-06-15 -0.146476
54  2017-07-15  0.014476