In [1]:
import pandas as pd

### EURCHF

In [29]:
df = pd.read_excel('data/snb-data-devkum-de-selection-20170802_1430.xlsx', sheet='data')

In [30]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m')

In [31]:
df = df.set_index('date')

In [34]:
df = df['2013':].reset_index()

In [37]:
df['date'] = df['date'].apply(lambda x: x.strftime('%Y-%m'))

In [39]:
json = df.to_json(orient='records')

In [41]:
with open('web/data.js', 'w') as f:
    f.write('var timeData = ' + json)

In [42]:
df.to_csv('web/data.csv', index=False)

In [43]:
df

       date  EURCHF
0   2013-01  1.2280
1   2013-02  1.2298
2   2013-03  1.2264
3   2013-04  1.2198
4   2013-05  1.2406
5   2013-06  1.2326
6   2013-07  1.2364
7   2013-08  1.2334
8   2013-09  1.2338
9   2013-10  1.2314
10  2013-11  1.2319
11  2013-12  1.2249
12  2014-01  1.2312
13  2014-02  1.2213
14  2014-03  1.2178
15  2014-04  1.2191
16  2014-05  1.2204
17  2014-06  1.2181
18  2014-07  1.2150
19  2014-08  1.2119
20  2014-09  1.2077
21  2014-10  1.2078
22  2014-11  1.2026
23  2014-12  1.2024
24  2015-01  1.0983
25  2015-02  1.0623
26  2015-03  1.0609
27  2015-04  1.0382
28  2015-05  1.0398
29  2015-06  1.0448
30  2015-07  1.0488
31  2015-08  1.0782
32  2015-09  1.0918
33  2015-10  1.0879
34  2015-11  1.0830
35  2015-12  1.0830
36  2016-01  1.0932
37  2016-02  1.1018
38  2016-03  1.0921
39  2016-04  1.0931
40  2016-05  1.1054
41  2016-06  1.0901
42  2016-07  1.0867
43  2016-08  1.0876
44  2016-09  1.0922
45  2016-10  1.0883
46  2016-11  1.0759
47  2016-12  1.0754
48  2017-01  1.0713
49  2017-02  1.0659
50  2017-03  1.0706
51  2017-04  1.0723
52  2017-05  1.0897
53  2017-06  1.0875
54  2017-07  1.1054